

.contact-gallery{
background:#6d74ff;
padding:80px ;
color:white;
text-align:center;
}

/* TITLE */

.contact-title{
font-size:3rem;
margin-bottom:50px;
font-family:Trebuchet MS, sans-serif;
}

/* GRID */

.contact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
gap:40px;
}

/* FIGURE */

.contact-grid figure{
background:#ffffff;
border-radius:10px;
overflow:hidden;
}

/* IMAGE */

.contact-grid img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

/* CAPTION */

.contact-grid figcaption{
padding:20px 22px;
font-size:1rem;
line-height:1.6;
opacity:0.9;
}

/* EMAIL */

.contact-email{
margin-top:70px;
font-size:1.3rem;
line-height:1.7;
}

.contact-email strong{
font-size:1.4rem;
}