

.illustrations-gallery{
background:#131313;
padding:80px ;
color:white;
text-align:center;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 50px;
}

/* TITLE */

.illustrations-title{
font-size:3rem;
margin-bottom:50px;
font-family:Trebuchet MS, sans-serif;
}

/* GRID */

.illustrations-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
gap:40px;
}

/* FIGURE */

.illustrations-grid figure{
background:#000000;
border-radius:10px;
overflow:hidden;
}

/* IMAGE */

.illustrations-grid img{
width:100%;
height:80%;
object-fit:cover;
display:block;
}

/* CAPTION */

.illustrations-grid figcaption{
padding:20px 22px;
font-size:1rem;
line-height:1.6;
opacity:0.9;
}

