@media (max-width: 1024px) {

.illustrations-gallery{
padding: 100px 6%;
}

.illustrations-title{
font-size: 3rem;
}

/* .gallery_story_background{
width: 100%;
} */

.illustrations-grid{
grid-template-columns: repeat(2,1fr);
}

}

.illustrations-gallery{
background:#131313;
padding:80px ;
color:white;
text-align:center;
min-height: 100vh;
min-width: 50%;
display: flex;
flex-direction: column;
align-items: center;
gap: 50px;
}

/* TITLE */

.illustrations-title{
font-size:3rem;
margin-bottom:50px;
font-family:Trebuchet MS, sans-serif;
}

/* GRID */

.illustrations-grid{
display:grid;
/* grid-template-columns:repeat(auto-fit,minmax(800px,3fr)); */
gap:40px;
width: 1920px;
}

/* FIGURE */

.illustrations-grid figure{
background:#000000;
border-radius:10px;
overflow:hidden;
}

/* IMAGE */

.illustrations-grid img{
width:100%;
height:80%;
object-fit:cover;
display:block;
}

/* CAPTION */

.illustrations-grid figcaption{
padding:20px 22px;
font-size:1rem;
line-height:1.6;
opacity:0.9;
}

@media (max-width: 1024px) {

.illustrations-gallery{
padding: 100px 6%;
}

.illustrations-title{
font-size: 3rem;
}

/* .gallery_story_background{
width: 100%;
} */

.illustrations-grid{
grid-template-columns: repeat(2,1fr);
}

}