/*Main*/

/* @import "gallery.css";
@import "background-video.css";
*/
/* html {
  scroll-behavior: smooth;
} */
 @import "navigation.css";
 @import "fonts.css";
 @import "carousel.css";
 @import "gallery.css";
 @import "about.css";
 @import "hobee.css";
 @import "heropage.css";
 @import "storygallery.css";
 @import "conceptpage.css";
 
 



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
 
    

